# ===========================
# TicketFlow API - Variáveis de Ambiente
# ===========================
# Copie este arquivo para .env e ajuste os valores conforme necessário:
#   cp .env.template .env

# --- MongoDB ---
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=ticketflow

# --- JWT ---
# Gere uma chave segura com: openssl rand -hex 32
SECRET_KEY=a3db460aebbf5c9813408f95ad92854b788cb86e49def366d7d93f768d7e7004
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# --- webhook ---
# Gere uma chave segura com: openssl rand -hex 32
WEBHOOK_SECRET=WEBHOOK_SECRET_KEY